.BackgroundShowOverlayContainer {
    background-image: url("https://images.unsplash.com/photo-1618219740975-d40978bb7378?q=80&w=2900&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 600px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    top: 0px;
}

.BackgroundShowOverlayContainer::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.367);
    z-index: 1;
}

#OurProductsDesignsHome .ant-tabs-nav-list {
    width: 100%;
    justify-content: space-between;
}

.CategoriesNamesContainer {
    position: sticky;
    z-index: 2;
    /* background-color: white; */
    display: flex;
    justify-content: space-between;
}

.CategoriesNamesContainer>div {
    width: 100%;
    min-height: 600px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.3s ease;
    /* background-color: red; */
}

.CategoriesNamesContainer>div.active {
    background-color: rgba(255, 255, 255, 0.231);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.DesignsGridContainer {
    position: relative;
}

.CategoriesNamesContainer h4 {
    background-color: white;
    padding: 20px 10px;
    /* height: 20%; */
}

.CategoriesNamesContainer>div.active h4 {
    color: white;
    background-color: rgb(0, 0, 0);
}

.TabDescriptionContainer {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.TabDescriptionContainer p {
    color: white;
}

@media (max-width: 768px) {
    .CategoriesNamesContainer {
        flex-direction: column;
    }

    .CategoriesNamesContainer>div {
        min-height: unset !important;
    }

    .BackgroundShowOverlayContainer {
        min-height: unset !important;
        background-image: none !important;
    }

    .CategoriesNamesContainer>div.active {
        -webkit-backdrop-filter: blur(0px);
        background-color: white;
    }

    .TabDescriptionContainer p {
        color: black;
    }

}