.AboutHomeContent,
.CounterNumbersAndImageAboutContainer {
    padding-left: 120px;
    padding-bottom: 60px;

}

.CounterNumbersAndImageAboutContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    overflow: hidden;
    background-color: #f7f7f7;
}

.AboutHomeImageContainer {
    overflow: hidden;
    min-height: 500px;
    max-height: 500px;
}

.AboutHomeImageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.AboutGridDataContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.AboutGridItem {
    display: flex;
    flex-direction: column;
    justify-content: end;
    border-bottom: 1px solid #8080802e;
    padding-bottom: 20px;
}

/* .AboutGridDataContainer .AboutGridItem:first-child {
    border-bottom: none;
} */

.AboutGridItem h4 {
    font-size: 60px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 10px;
    color: #495744;
}

.AboutGridItem p {
    font-size: 16px;
    margin: 0;
    color: #666;
}

/* Desktop and Mobile Text Display */
.desktop-only {
    display: block;
}

.mobile-only {
    display: none;
}

@media (max-width: 768px) {
    .AboutHomeContent {
        padding-left: 0px;
    }

    .CounterNumbersAndImageAboutContainer {
        display: flex !important;
        flex-direction: column !important;
        gap: 20px;
    }

    .AboutHomeContent,
    .CounterNumbersAndImageAboutContainer {
        padding-left: 0px;
    }

    /* Show mobile text, hide desktop text */
    .desktop-only {
        display: none;
    }

    .mobile-only {
        display: block;
    }

    .AboutGridItem h4 {
        font-size: 40px;
        font-weight: 700;
        margin: 0;
        margin-bottom: 10px;
        color: #495744;
    }

}