@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Manrope", sans-serif;
}

a {
    text-decoration: none;
}

.Container {
    max-width: 1300px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-size: 6rem;
    margin: 0px;
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    /* line-height: 140px; */
}

h2 {
    /* text-align: center; */
    font-size: 3rem;
    margin: 0px;
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    color: #495744;
}

h3 {
    /* text-align: center; */
    font-size: 1.3rem;
    margin: 0px;
    font-family: "Manrope", sans-serif;
    font-weight: 500;
}

h4 {
    /* text-align: center; */
    font-size: 1.2rem;
    margin: 0px;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    color: #495744;
}



h5 {
    color: #000;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 100%;
    font-weight: 400;
}

.whiteColor {
    color: #fff;
}

.textCenter {
    text-align: center;
}

.max-width-1000 {
    max-width: 1000px;
    margin: 0 auto;
}

.CommonButton {
    background-color: white;
    color: black;
    border: none;
    border-radius: 30px;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    transition: .5s;
    min-width: 150px;
    cursor: pointer;
}

.CommonButton::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: black;
    transition: .5s;
}

.CommonButton:hover::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    transition: .5s;
}

.CommonButton:hover span {
    position: sticky;
    z-index: 5;
    color: white !important;
    transition: .5s;
}

.CommonButtonVariation2 {
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 00px;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    transition: .5s;
    min-width: 150px;
    cursor: pointer;
}

.CommonButtonVariation2::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: black;
    transition: .5s;
}

.CommonButtonVariation2:hover::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    transition: .5s;
}

.CommonButtonVariation2:hover span {
    position: sticky;
    z-index: 5;
    color: white !important;
    transition: .5s;
}

.MarginSmallTop30 {
    margin-top: 30px !important;
}

.PaddingSectionTop100 {
    padding-top: 80px;
}

.MarginTitleTop80 {
    margin-top: 80px;
}

.PaddingSmallSectionsTop60 {
    padding-top: 60px;
}

.CommonTagText h5 {
    position: relative;
    display: flex;
    align-items: center;
}

.CommonTagText h5::before {
    content: '';
    /* position: absolute;
    top: 0;
    left: 0; */
    width: 30px;
    height: 2px;
    background-color: black;
    margin-right: 20px;
}

.CommonTagText h5::after {
    content: '';
    position: absolute;
    /* top: 0; */
    left: 0;
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    margin-left: 20px;
    animation: pulseRing 2s ease-out infinite;
}

@keyframes pulseRing {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
    }

    50% {
        box-shadow: 0 0 0 8px rgba(0, 0, 0, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}


@media (max-width: 768px) {
    .Container {
        padding: 0px 10px !important;
    }

    h1 {
        text-align: center;
        font-size: 3.5rem;
        margin: 0px;
        font-family: "Manrope", sans-serif;
        font-weight: 500;
        /* line-height: 140px; */
    }

    h2 {
        /* text-align: center; */
        font-size: 2rem;
        margin: 0px;
        font-family: "Manrope", sans-serif;
        font-weight: 500;
    }

}